<div> 
    <%= link_to("Dashboard", dashboard_path)%>  
    <%= link_to("Acceder", new_user_session_path)%>    
</div>
<div>
    <h2>FAMILY ADMINISRATION</h2>
</div>
<div> 
    <p> Este es un texto que describe como funciona el sistema </p>
</div>
